<div class="flex gap-4">

  <table class="border-collapse border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2 text-left">#</th>
        <th class="border border-gray-300 px-4 py-2 text-left">Aspect</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th class="border border-gray-300" scope="row">0</th>
            <td class="border border-gray-300 p-2">
                <button class="border border-gray-300" (click)="onClearClick()">Entfernen</button>
            </td>
        </tr>
        <tr *ngFor="let obj of inventoryPrimal; let i = index" (click)="onInventoryClick(obj)">
            <th class="border border-gray-300" scope="row">{{ i + 1 }}</th>
            <td class="border border-gray-300">
            <img class="w-16 h-16" [src]="obj.IMG" alt="Hex Field Image">
            </td>
        </tr>
    </tbody>
  </table>

  <table class="border-collapse border border-gray-300">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2 text-left">#</th>
        <th class="border border-gray-300 px-4 py-2 text-left">Aspect</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of inventoryLevel1; let i = index" (click)="onInventoryClick(obj)">
        <th class="border border-gray-300" scope="row">{{ i + 1 }}</th>
        <td class="border border-gray-300">
          <img class="w-16 h-16" [src]="obj.IMG" alt="Hex Field Image">
        </td>
      </tr>
    </tbody>
  </table>

</div>