<div class="relative w-full min-h-[60vh] bg-gray-900" #container>
  <svg class="absolute top-0 left-0 w-full h-full min-w-[600px] min-h-[550px] block"
       [attr.width]="containerWidth" [attr.height]="containerHeight">
    <polygon
      *ngFor="let hex of hexagons"
      class="stroke-[#333] stroke-2"
      [class.fill-gray-900]="researchFieldService.getHexagonLock(hex.col, hex.row)"

      [attr.points]="getHexagonPoints(hex)"
      [attr.data-id]="hex.id"
    />
  </svg>

  <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
    <div
      *ngFor="let hex of hexagons"
      class="absolute flex items-center justify-center pointer-events-auto"
      [ngStyle]="getHexagonStyle(hex)"
      (click)="onHexClick(hex)"
    >
      <app-hex-field [row]="hex.row" [col]="hex.col" [triggerClick]="clickedHex"></app-hex-field>

    </div>
  </div>
</div>
